<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rémi Bonin</title>

  </head>
  <body>
      <a href="_site/index.html">Rémi Bonin</a>
    {{ content }}
  </body>
</html>
