<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rémi Bonin</title>
    <LINK href="/Style.css" rel="stylesheet">
  </head>
  <body>
      <menu>
      <a class="texteprincipal" href="/index.html">
   <b id="home">remzcoolass</b>
      </a>

          {{ for projets of search.pages("category=listes").sort() }}
          <b><a href="{{ projets.url }}">{{ projets.Titre }}</a></b>
          {{ /for }}

          {{ for projets of search.pages("category=articles").sort() }}
          <b><a href="{{ projets.url }}">{{ projets.Titre }}</a></b>
          {{ /for }}

          {{ for projets of search.pages("category=info").sort() }}
          <b><a href="{{ projets.url }}">{{ projets.Titre }}</a></b>
          {{ /for }}

      </menu>

{{ content }}




  </body>
</html>
