<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rémi Bonin</title>
    <LINK href="/Style.css" rel="stylesheet">
  </head>
  <body>
      <menu>
      <a class="texteprincipal" href="/index.html">
   <b id="home">remzcoolass</b>
      </a>
      <a class="texteprincipal" href="/index.html">
   <b id="home">listes</b>
      </a>
      <a class="texteprincipal" href="/index.html">
   <b id="home">articles</b>
      </a>
      <a class="texteprincipal" href="/index.html">
   <b id="home">contact</b>
      </a>
      </menu>

{{ content }}




  </body>
</html>
