---
layout: head.vto
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My first page</title>
    <LINK href="/Style.css" rel="stylesheet">
  </head>
  <body>

      <br><br>
    <H1>{{ Titre }}</H1>
    <p>Articles:</p>
    <ul class="submenu">
        {{ for projets of search.pages("category=article").sort() }}
        <li><a href="{{ projets.url }}">{{ projets.Titre }}</a></li>
        {{ /for }}
    </ul>

</html>
