---
layout: head.vto
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My first page</title>
    <LINK href="test/Style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>{{ projet }}</h1>
    <p>{{ description }}</p>
    <p>{{ annee }}</p>
    <p>{{ lieu }}</p>
    <img src="{{ image }}" alt="{{ phographe }}" />
  </body>
</html>
