---
layout: head.vto
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My first page</title>
    <LINK href="/Style.css" rel="stylesheet">
  </head>
  <body>
       <br><br>
      <H1>{{ Titre }}</H1>
      <p>{{ date }}</p>
      <p>{{ lieu }}</p>

      <ul>
          <p>{{ content }}</p>
          {{ for image of sections }}
          <li>
            <img src="{{ image.photo }}" alt="{{ image.content }}" />
            <p>{{ image.content }}</p>
          </li>
          {{ /for }}
        </ul>
  </body>
</html>
